<div class="panel panel-info">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-time"></span> Imputations du {{addImputationCtrl.day.format()}}
    </div>
    <div class="panel-body">
        <alert type="danger" ng-if="addImputationCtrl.error">
            <errors errors="{{addImputationCtrl.error.message}}"></errors></alert>
        <form id="imputation" role="form" ng-submit="addImputationCtrl.submit()">
            <fieldset>
                <div class="form-group col-md-offset-7">
                    <input class="form-control" id="addedtask" ng-model="addImputationCtrl.addedTask" 
                           placeholder="Ajouter une tâche" 
                           typeahead-editable="false"
                           typeahead-on-select="addImputationCtrl.addTask($item, $model, $label)" 
                           typeahead-loading="addImputationCtrl.loadingtask"
                           uib-typeahead="task as task.name for task in addImputationCtrl.getTasks($viewValue)"
                           />
                    <i ng-show="addImputationCtrl.loadingtask" class="glyphicon glyphicon-refresh"></i>
                </div>
            </fieldset>
            <table>
                <thead>
                    <tr>
                        <th class="form-group col-md-3">
                            Tâche
                        </th>
                        <th class="form-group col-md-3">
                            Charge consommée
                        </th>
                        <th class="form-group col-md-3">
                            Charge restante
                        </th>
                    </tr>
                </thead>
                <tr ng-repeat="task in addImputationCtrl.imputations">
                    <td class="form-group col-md-3">
                        {{task.taskName}}
                    </td>
                    <td class="form-group col-md-3">
                        <input type="number" id="estimatedLoad" class="form-control" ng-model="task.timeSpent" min="0" step="{{addImputationCtrl.allocations.step}}"/>
                    </td>
                    <td class="form-group col-md-3">
                        <input type="number" id="estimatedLoad" class="form-control" ng-model="task.timeRemains" min="0" step="{{addImputationCtrl.allocations.step}}"/>
                    </td>
                </tr>
            </table>
            <fieldset>
                <div>
                    <button type="submit"  class="btn btn-info center-block">enregistrer</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
