<section class="container-fluid app__content">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <h2 class="panel-heading-title">Liste des utilisateurs</h2>
                <div class="panel-heading-action">
                    <button class="btn btn-info btn-sm"  ng-click="userCtrl.add()"><span class="glyphicon glyphicon-plus-sign"></span>Ajouter</button>
                    <button class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Import/Export <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li><a ng-click="userCtrl.import()"><span class="glyphicon glyphicon-import"></span>Import</a></li>
                        <li><a ng-click="userCtrl.export()" ><span class="glyphicon glyphicon-export"></span>Export</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Email</th>
                            <th>Rôle</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in userCtrl.users.users">
                            <td>
                                {{user.username}}
                            </td>
                            <td>
                                {{user.email}}
                            </td>
                            <td>{{user.applicationRole}}</td>
                            <td>
                                <a ng-click="userCtrl.delete(user.id)" ng-if="user.id !== $session.user.id">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3" >
                                        <div class="center-block text-center">
                                            <pagination total-items="userCtrl.users.page.totalElements" ng-model="userCtrl.users.page.numPage" items-per-page="userCtrl.users.page.size" max-size="5" class="pagination-sm" boundary-links="true" rotate="false" num-pages="userCtrl.users.page.totalPages" ng-click="userCtrl.pageChanged()"></pagination>
                                        </div>
                                    </div>
                                    <div class="col-md-3 form-inline"> 
                                        <div class="form-group pull-right">
                                            <label for="nbEltUser">Nb élements :</label>
                                            <select id="nbEltUser" ng-model="userCtrl.users.page.nbElt" class="form-control input-sm" style="margin: 20px;" ng-change="userCtrl.pageChanged()">
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="50">50</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</section>