<div class="col-md-12">
    <div class="panel">
        <div class="panel-heading">
            <h2 class="panel-heading-title">Liste des catégories</h2>
            <div class="panel-heading-action">
                <button class="btn btn-info btn-sm" ng-click="categoryListCtrl.add()"><span class="glyphicon glyphicon-plus-sign"></span>Nouvelle catégorie</button>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Couleur</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="category in projectEditCtrl.project.categories">
                        <td>
                            {{category.name}}
                        </td>
                        <td>
                            <span style="background-color: {{category.bgcolor}}; border: 1px solid; padding-top:4px; padding-left:15px">&nbsp;</span>
                        <td>
                            <a ng-click="categoryListCtrl.delete(category)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>