<div class="col-md-12" >
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-heading-title">Commentaires </h3>
            <div class="panel-heading-action">
                <button class="btn btn-info btn-sm" ng-click="commentListCtrl.add()"><span class="glyphicon glyphicon-plus-sign"></span>Nouveau commentaire</button>
            </div>
        </div>
        <div class="panel-body">
            <div ng-repeat="comment in taskCtrl.task.comments">
                <div class="panel panel-default"> 
                    <div class=" panel-heading">
                        <div class="col-md-7">
                            Commentaire  de {{comment.writer}} le {{comment.writingDate| date:'dd-MM-yyyy'}} - <span class="badge">{{comment.nbReply}} réponses</span>
                        </div>
                        <div class="pull-right">
                            <a ng-click="commentListCtrl.delete(comment)" title="delete">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        {{comment.comment}}
                        <div ng-if="comment === commentListCtrl.selectedComment">
                            <div ng-include="'templates/project/task/comment/reply.html'" ng-controller="commentReplyController as commentReplyCtrl"></div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="pull-right">
                            <span class="badge">
                                <a ng-click="commentListCtrl.showReply(comment)" title="reply">
                                    <span class="glyphicon glyphicon-eye-open"></span> voir les réponses
                                </a>
                            </span>
                            <span class="badge">
                                <a ng-click="commentListCtrl.reply(comment)" title="reply">
                                    <span class="glyphicon glyphicon-comment"></span> Répondre
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
