<h3 ng-if="commentListCtrl.comments.length > 0"  class="panel-heading-title">Commentaires </h3>
<div class="panel-heading-action">
    <button class="btn btn-info btn-sm" ng-click="commentListCtrl.add()" title="Ajouter un commentaire"><span class="glyphicon glyphicon-comment"></span>Commenter</button>
</div>

<section class="comments" ng-if="commentListCtrl.comments.length > 0" >
    <blockquote ng-repeat="comment in commentListCtrl.comments" class="comment" cite="{{comment.writer}}">
        <cite class="comment__header">Commentaire  de {{comment.writer}} le {{comment.writingDate| date:'dd-MM-yyyy'}}</cite>
        <div class="comment__action pull-right" ng-if="projectCtrl.rights.hasAdminRights">
            <a ng-click="commentListCtrl.delete(null, comment)" title="delete" class="btn btn-danger pull-right"><span class="glyphicon glyphicon-trash"></span></a>
        </div>
        <q class="comment__content">{{comment.comment}}</q>
        <div class="comment__footer">
            <div ng-if="commentListCtrl.selectedComment !== undefined && comment.showComment" class="replies">
                <div ng-include="'templates/project/task/comment/reply.html'" ng-controller="commentReplyController as commentReplyCtrl"></div>
            </div>
        </div>
    </blockquote>
</section>
