<div ng-repeat="replyComment in commentReplyCtrl.replies" class="panel panel-default comment-response">
    <div class="row">
        <div class="col-md-7">
            Réponse de {{replyComment.writer}} le {{replyComment.writingDate| date:'dd-MM-yyyy'}}
        </div>
        <div class="pull-right" ng-if="projectCtrl.rights.hasAdminRights">
            <a ng-click="commentListCtrl.delete(comment, replyComment)" title="delete">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </div>
    </div>
    <div class="row">
        {{replyComment.comment}}
    </div>
</div>
