<div class="panel panel-info">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-plus-sign"></span> Nouvelle tâche
    </div>
    <div class="panel-body">
        <alert type="danger" ng-if="add.form.error">{{add.form.error}}</alert>
        <form id="login" role="form" ng-submit="add.submit()">
            <div class="form-group">
                <input type="text" required ng-model="add.task.name" class="form-control" name="taskName" placeholder="Nom de la tâche"/>
            </div>
            <div class="form-group">
                <label for="category">Catégorie</label>
                <select ng-model="add.task.categoryId" class="form-control" id="category" name="category" placeholder="Catégorie">
                    <option value="{{category.id}}" ng-repeat="category in add.categories">{{category.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea col="100" rows="10" id="description" ng-model="add.task.description" class="form-control" name="description" placeholder="Description"/>
            </div>
            <div class="form-group">
                <label for="assignee">Assigné à </label>
                <select ng-model="add.task.assigneeId" id="assignee" class="form-control" name="assignee" placeholder="Assigné à">
                    <option value="{{member.id}}" ng-repeat="member in add.members">{{member.user.username}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="backup">Backup </label>
                <select ng-model="add.task.backupId" id="backup" class="form-control" name="backup" placeholder="Backup">
                    <option value="{{member.id}}" ng-repeat="member in add.members">{{member.user.username}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="plannedStart">Date de début prévue </label>
            <input type="date" id="plannedStart" class="form-control" ng-model="add.task.plannedStart" />
            </div>
            <div class="form-group">
                <label for="plannedEnding">Date de fin prévue </label>
                <input type="date" id="plannedEnding" class="form-control" ng-model="add.task.plannedEnding" />
            </div>
            <div>
                <button type="submit"  class="btn btn-info center-block">valider</button>
            </div>
        </form>
    </div>
</div>
