<header class="heading nav nav--subNav">
    <h2 class="heading__title pull-left">Projet : {{projectCtrl.project.name}}</h2>
    <div class="heading__action pull-right">
        <button class="btn btn-info btn-sm" ui-sref="app.project.tasks({projectId: projectCtrl.project.id })"><span class="glyphicon glyphicon-tasks"></span> Voir toutes les tâches</button>
        <button class="btn btn-info btn-sm" ui-sref="app.project.kanban({projectId: projectCtrl.project.id })"><span class="glyphicon glyphicon-equalizer"></span> Kanban</button>
        <button ng-if="projectCtrl.rights.hasEditRights" class="btn btn-info btn-sm" ui-sref="app.project.consommation({projectId: projectCtrl.project.id })"><span class="glyphicon glyphicon-time"></span> Consommations</button>
        <button ng-if="projectCtrl.rights.hasEditRights" class="btn btn-info btn-sm" ng-click="kanbanCtrl.addTask()"><span class="glyphicon glyphicon-plus-sign"></span> Nouvelle tâche</button>
    </div>
</header>
<section class="content">
    <div gantt data="ganttCtrl.data">
        <gantt-tree></gantt-tree>
        <gantt-groups></gantt-groups>
        <gantt-tooltips></gantt-tooltips>
        <gantt-bounds></gantt-bounds>
        <gantt-progress></gantt-progress>
        <gantt-sortable></gantt-sortable>
        <gantt-movable></gantt-movable>
        <gantt-draw-task></gantt-draw-task>
        <gantt-overlap></gantt-overlap>
        <gantt-resize-sensor></gantt-resize-sensor>
        <gantt-dependencies enabled="'true'" conflict-checker="'true'"></gantt-dependencies>
    </div>
</section>