<header class="navbar navbar-static-top navbar-default">
    <div id="logo" class="navbar-header">
        <a class="navbar-brand" ui-sref="app.dashboard">
            <img class="logo" src="../images/CO2-Logo.png" alt="logo" title="CO2" height="48"/>
            KyT
        </a>
    </div>
    <ul class="nav navbar-nav">
        <li class="navbar-text">
            <a ui-sref="app.dashboard">
                Dashboard
            </a>
        </li>
        <li class="navbar-text dropdown">
            <a class="dropdown-toggle" role="dropdown" data-toggle="dropdown"  aria-expanded="true" id="projectsDropdown">
                Mes projets
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="projectsDropdown">
                <li ng-repeat="project in appCtrl.currentuser.projects">
                    <a ui-sref="app.project.kanban({projectId: project.id })">
                        {{project.name}}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="nav navbar-nav  navbar-right dropdown">
        <a class="navbar-text dropdown-toggle account" data-toggle="dropdown" id="accountDropdown" aria-expanded="true">
            <span class="glyphicon glyphicon-user"></span>
            {{appCtrl.currentuser.username}}
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="accountDropdown">
            <li>
                <a ui-sref="app.profil">
                    <span class="glyphicon glyphicon-cog"></span>
                    <span>Profil</span>
                </a>
            </li>
            <li ng-if="appCtrl.currentuser.applicationRole === 'ADMIN'">
                <a ui-sref="app.projects">
                    <span class="glyphicon glyphicon-folder-open"></span>
                    <span>Administrer projets</span>
                </a>
            </li>
            <li ng-if="appCtrl.currentuser.applicationRole === 'ADMIN'">
                <a ui-sref="app.users">
                    <span class="glyphicon glyphicon-user"></span>
                    <span>Administrer utilisateurs</span>
                </a>
            </li>
            <li>
                <a ng-click="appCtrl.logout()">
                    <span class="glyphicon glyphicon-log-out"></span>
                    <span>Logout</span>
                </a>
            </li>  
        </ul>
    </div>
</header>

<div class="app__container" ui-view="">
</div>
