<header class="nav nav--main">
    <a class="nav__brand" ui-sref="app.dashboard">
        KyT
    </a>
    <ul class="nav__links">
        <li class="nav__link">
            <a ui-sref="app.dashboard">
                Dashboard
            </a>
        </li>
        <li class="nav__link dropdown" ng-if="appCtrl.currentuser.projects.length > 0 || appCtrl.currentuser.applicationRole === 'ADMIN'">
            <a class="dropdown-toggle" role="dropdown" data-toggle="dropdown"  aria-expanded="true" id="projectsDropdown">
                Mes projets
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="projectsDropdown">
                <li ng-repeat="project in appCtrl.currentuser.projects">
                    <a ui-sref="app.project.kanban({projectId: project.id })">
                        {{project.name}}
                    </a>
                </li>
                <li ng-if="appCtrl.currentuser.applicationRole === 'ADMIN'">
                    <a ui-sref="app.projects">
                        <span class="glyphicon glyphicon-folder-open"></span>&nbsp;
                        <span>Administrer les projets</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="nav__links nav__links--right dropdown">
        <a class="nav__link dropdown-toggle account" data-toggle="dropdown" id="accountDropdown" aria-expanded="true">
            <span class="glyphicon glyphicon-user"></span>
            {{appCtrl.currentuser.username}}
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="accountDropdown">
            <li>
                <a ui-sref="app.profil">
                    <span class="glyphicon glyphicon-cog"></span>
                    <span>Profil</span>
                </a>
            </li>
            <li ng-if="appCtrl.currentuser.applicationRole === 'ADMIN'">
                <a ui-sref="app.users">
                    <span class="glyphicon glyphicon-user"></span>
                    <span>Administrer utilisateurs</span>
                </a>
            </li>
            <li>
                <a ng-click="appCtrl.logout()">
                    <span class="glyphicon glyphicon-log-out"></span>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </div>
</header>

<div class="app__container" ui-view="">
</div>
