<div class="row">
    <div class="col-md-4 col-md-offset-8">
        <button class="btn btn-info btn-sm" ng-click="configStateCtrl.add()"><span class="glyphicon glyphicon-plus-sign"></span>Nouveau état</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12" as-sortable="configStateCtrl.stateListSortOptions" ng-model="configStateCtrl.states">
        <div class="row" ng-repeat="state in configStateCtrl.states" as-sortable-item>
            <div class="col-md-8">
                <div class="panel panel-default" as-sortable-item-handle>
                    <div class="row">
                        <div class="col-md-8">
                            {{state.name}} 
                        </div>
                        <div class="col-md-4">
                        <span class="badge  pull-right">
                            {{state.taskCount}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <a ng-click="configStateCtrl.delete(state.id)">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </div>
        </div>
    </div>
</div>
