    <div class="row">
        <div class="col-md-4 col-md-offset-8">
            <button class="btn btn-info btn-sm" ng-click="configCategoryCtrl.add()"><span class="glyphicon glyphicon-plus-sign"></span>Nouvelle catégorie</button>
        </div>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="category in configCategoryCtrl.categories">
                    <td>
                        {{category.name}}
                    </td>
                    <td>
                        <a ng-click="configCategoryCtrl.delete(category.id)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

