<div class="panel panel-info">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-plus-sign"></span> Nouveau couloir
    </div>
    <div class="panel-body">
        <alert type="danger" ng-if="addSwimlaneCtrl.error">{{addSwimlaneCtrl.error.message}}</alert>
        <form id="login" role="form" ng-submit="addSwimlaneCtrl.submit()">
            <div class="form-group">
                <input type="text" required ng-model="addSwimlaneCtrl.swimlane.name" class="form-control" name="taskName" placeholder="Nom du couloir"/>
            </div>
            <div class="form-group">
                <label for="plannedEnding">Date de fin prévue </label>
                <input type="date" id="plannedEnding" class="form-control" ng-model="addSwimlaneCtrl.swimlane.endPlanned" />
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea col="100" maxlength="8000" rows="12" id="description" ng-model="addSwimlaneCtrl.swimlane.description" class="form-control" name="description" placeholder="Description"/>
            </div>
            <div>
                <button type="submit"  class="btn btn-info center-block">valider</button>
            </div>
        </form>
    </div>
</div>