<div class="panel panel-info">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-plus-sign"></span> Nouveau couloir
    </div>
    <div class="panel-body">
        <alert type="danger" ng-if="add.form.error">{{add.form.error}}</alert>
        <form id="login" role="form" ng-submit="add.submit()">
            <div class="form-group">
                <input type="text" required ng-model="add.swimlane.name" class="form-control" name="taskName" placeholder="Nom du couloir"/>
            </div>
            <div class="form-group">
                <select ng-model="add.swimlane.responsableId" class="form-control" name="responsable" placeholder="Responsable">
                    <option value="{{member.id}}" ng-repeat="member in add.members">{{member.user.username}}</option>
                </select>
            </div>
            <div>
                <button type="submit"  class="btn btn-info center-block">valider</button>
            </div>
        </form>
    </div>
</div>