<div class="col-md-12">
    <div class="panel">
        <div class="panel-heading">
            <h2 class="panel-heading-title">Couloirs du projet</h2>
            <div class="panel-heading-action">
                <button class="btn btn-info btn-sm" ng-click="swimlaneListCtrl.add()"><span class="glyphicon glyphicon-plus-sign"></span>Nouveau couloir</button>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-5">Nom</div>
                                <div class="col-md-3">Date de fin prévue</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" as-sortable="swimlaneListCtrl.swimlaneListSortOptions" ng-model="projectEditCtrl.project.swimlanes">
                <div class="row" ng-repeat="swimlane in projectEditCtrl.project.swimlanes" as-sortable-item>
                    <div class="col-md-8" as-sortable-item-handle>
                        <div class="row">
                            <div class="col-md-5">
                                <a href="#" editable-text="swimlane.name" onaftersave="swimlaneListCtrl.saveSwimlane(swimlane)"
                                   e-required onhide="swimlaneListCtrl.reload()" 
                                   title="Modifier le couloir">
                                    {{swimlane.name}} 
                                </a>
                            </div>
                            <div class="col-md-3">
                                {{swimlane.endPlanned| date:"dd/MM/yyyy"}} 
                            </div>
                            <div class="col-md-3">
                                <span class="badge  pull-right">
                                    {{swimlane.taskCount}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <a ng-click="swimlaneListCtrl.delete(swimlane)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
