<div class="panel panel-info">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-plus-sign"></span> Nouvelle tâche
    </div>
    <div class="panel-body">
        <alert type="danger" ng-if="addTaskCtrl.error">
            <errors errors="addTaskCtrl.error"></errors>
        </alert>
        <form id="task" role="form" ng-submit="addTaskCtrl.submit()">
            <div class="form-group">
                <label for="newTaskName">Nom de la tâche</label>
                <input type="text" required ng-model="addTaskCtrl.task.name" class="form-control" id="newTaskName" name="taskName" placeholder="Nom de la tâche"/>
            </div>
            <div class="form-group">
                <label for="category">Catégorie</label>
                <select ng-model="addTaskCtrl.task.category.id" class="form-control" id="category" name="category" placeholder="Catégorie">
                    <option value="{{category.id}}" ng-repeat="category in addTaskCtrl.categories">{{category.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="swimlane">Couloir</label>
                <select ng-model="addTaskCtrl.task.swimlane.id" class="form-control" id="swimlane" name="swimlane" placeholder="Couloir">
                    <option value="{{swimlane.id}}" ng-repeat="swimlane in addTaskCtrl.swimlanes">{{swimlane.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="urgent">Urgent</label>
                <input type="checkbox" ng-model="addTaskCtrl.task.urgent" class="form-control" id="urgent" name="urgent" />
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <text-angular col="100" maxlength="8000" rows="12" id="description" ng-model="addTaskCtrl.task.description" name="description" placeholder="Description" ></text-angular>
            </div>
            <div class="form-group">
                <label for="plannedStart">Date de début prévue </label>
                <input type="date" id="plannedStart" class="form-control" ng-model="addTaskCtrl.task.plannedStart" />
            </div>
            <div class="form-group">
                <label for="plannedEnding">Date de fin prévue </label>
                <input type="date" id="plannedEnding" class="form-control" ng-model="addTaskCtrl.task.plannedEnding" />
            </div>
            <div>
                <button type="submit" class="btn btn-info center-block">Créer</button>
            </div>
        </form>
    </div>
</div>

