<header class="heading" ng-if="projectCtrl.rights.hasEditRights">
    <h2 class="heading__title pull-left">Projet : {{projectCtrl.project.name}}</h2>
    <div class="heading__action pull-right">
        <button class="btn btn-info btn-sm" ui-sref="app.project.kanban({projectId: projectCtrl.project.id })"><span class="glyphicon glyphicon-equalizer"></span> Kanban</button>
        <button class="btn btn-info btn-sm" ng-click="tasksCtrl.addTask()"><span class="glyphicon glyphicon-plus-sign"></span> Nouvelle tâche</button>
    </div>
</header>
<div class="col-md-12">
    <div class="panel">
        <div class="panel-heading">
            <h2 class="panel-heading-title">Liste des tâches</h2>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Etat</th>
                        <th>Couloir</th>
                        <th>Categorie</th>
                        <th>assignee</th>
                        <th>Date début</th>
                        <th>Date fin</th>
                        <th>Consommée</th>
                        <th>Charge estimée</th>
                        <th>Charge réevaluée</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="task in tasksCtrl.tasks._embedded.taskResourceList">
                        <td>
                            {{task.name}}
                        </td>
                        <td>
                            {{task.state.name}}
                        </td>
                        <td>
                            <span ng-if="!task.swimlane">
                                -
                            </span>
                            {{task.swimlane.name}}
                        </td>
                        <td>
                            <span ng-if="!task.category">
                                -
                            </span>
                            {{task.category.name}}
                        </td>
                        <td>
                            <span ng-if="!task.assignee">
                                -
                            </span>
                            {{task.assignee.user.username}}
                        </td>
                        <td>
                            {{task.plannedStart| date:'dd/MM/yyyy'}}
                        </td>
                        <td>
                            {{task.plannedEnding| date:'dd/MM/yyyy'}}
                        </td>
                        <td>
                            {{task.timeSpent}}
                        </td>
                        <td>
                            {{task.estimatedLoad}}
                        </td>
                        <td>
                            {{task.timeRemains}}
                        </td>
                        <td >
                            <a ui-sref="app.project.task({id: projectCtrl.project.id, taskId: task.id })" title="edit">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a ng-click="tasksCtrl.delete(task)" title="delete">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="11">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3" >
                                    <div class="center-block text-center">
                                        <uib-pagination total-items="taskCtrl.tasks.page.totalElements" ng-model="taskCtrl.tasks.page.numPage" items-per-page="taskCtrl.tasks.page.size" max-size="5" class="pagination-sm" boundary-links="true" rotate="false" num-pages="taskCtrl.tasks.page.totalPages"></uib-pagination>
                                    </div>
                                </div>
                                <div class="col-md-3 form-inline"> 
                                    <div class="form-group pull-right">
                                        <label for="nbEltUser">Nb élements :</label>
                                        <select id="nbEltUser" ng-model="taskCtrl.nbElt" class="form-control input-sm" style="margin: 20px;" ng-change="taskCtrl.pageChanged()">
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="50">50</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
