<header class="heading">
    <h2 class="heading__title pull-left">Projet : {{projectCtrl.project.name}}</h2>
    <ul class="nav nav-tabs pull-left">
        <li class="nav__link"><a ui-sref="app.project.kanban({projectId: projectCtrl.project.id })"><span class="glyphicon glyphicon-equalizer"></span> Kanban</a></li>
        <li class="nav__link active"><a ui-sref="app.project.tasks({projectId: projectCtrl.project.id })"><span class="glyphicon glyphicon-tasks"></span> Liste des tâches</a></li>
        <li class="nav__link"><a ng-if="projectCtrl.rights.hasEditRights" ui-sref="app.project.consommation({projectId: projectCtrl.project.id })"><span class="glyphicon glyphicon-time"></span> Consommations</a></li>
        <li class="nav__link"><a ng-if="projectCtrl.rights.hasEditRights" ui-sref="app.project.gantt({projectId: projectCtrl.project.id })"><span class="glyphicon glyphicon-road"></span> Gantt</a></li>
    </ul>
    <div class="heading__action">
        <button ng-if="projectCtrl.rights.hasEditRights" class="btn btn-info btn-sm" ng-click="tasksCtrl.addTask()"><span class="glyphicon glyphicon-plus-sign"></span> Nouvelle tâche</button>
        <checkbox-filter filter-title="Filtres">
            <ul class="checkboxDropdown__list">
                <li class="checkboxDropdown__item"><label for="filterState">Etat</label>
                    <select id="filterState" ng-model="tasksCtrl.filter.state" ng-change="tasksCtrl.changedFilter()">
                        <option value="all">Tous</option>
                        <option value="{{state.id}}" ng-repeat="state in tasksCtrl.states">{{state.name}}</option>
                    </select></li>
                <li class="checkboxDropdown__item"> <label for="filterSwimlane">Couloir</label>
                    <select id="filterSwimlane" ng-model="tasksCtrl.filter.swimlane" ng-change="tasksCtrl.changedFilter()">
                        <option value="all">Tous</option>
                        <option value="{{swimlane.id}}" ng-repeat="swimlane in tasksCtrl.swimlanes">{{swimlane.name}}</option>
                    </select></li>
                <li class="checkboxDropdown__item"><label for="filterAssignee">Assignée à</label>
                <select id="filterAssignee" ng-model="tasksCtrl.filter.member" ng-change="tasksCtrl.changedFilter()">
                    <option value="all">Tous</option>
                    <option value="{{member.id}}" ng-repeat="member in tasksCtrl.members">{{member.username}}</option>
                </select>></li>
                <li class="checkboxDropdown__item"><label for="filterCategory">Catégorie</label>
                    <select id="filterCategory" ng-model="tasksCtrl.filter.category" ng-change="tasksCtrl.changedFilter()">
                        <option value="all">Tous</option>
                        <option value="{{category.id}}" ng-repeat="category in tasksCtrl.categories">{{category.name}}</option>
                    </select></li>
                <li class="checkboxDropdown__item"><label for="filtreDeleted">Supprimées</label>
                    <input type="checkbox" id="filtreDeleted" ng-model="tasksCtrl.filter.deleted" ng-change="tasksCtrl.changedFilter()"/>
                <li class="checkboxDropdown__item"><button ng-click="tasksCtrl.resetFilter()">Reset</button></li>
            </ul>
        </checkbox-filter>
        <checkbox-filter filter-title="Trier par">
            <ul class="checkboxDropdown__list">
                <li class="checkboxDropdown__item" ng-click="tasksCtrl.tableFilter('name')">
                    Nom
                                <span ng-class="{'glyphicon-sort-by-alphabet': tasksCtrl.sort.sortDirection === 'asc', 'glyphicon-sort-by-alphabet-alt': tasksCtrl.sort.sortDirection === 'desc'}"
                                      class="glyphicon" ng-if="tasksCtrl.sort.field === 'name'"></span>
                </li>
                <li class="checkboxDropdown__item" ng-click="tasksCtrl.tableFilter('state.position')">
                    Etat
                                <span class="glyphicon" ng-if="tasksCtrl.sort.field === 'state.position'"
                                      ng-class="{'glyphicon-sort-by-attributes': tasksCtrl.sort.sortDirection === 'asc', 'glyphicon-sort-by-attributes-alt': tasksCtrl.sort.sortDirection === 'desc'}"></span>
                </li>
                <li class="checkboxDropdown__item" ng-click="tasksCtrl.tableFilter('swimlane.position')">
                    Couloir
                                <span class="glyphicon" ng-if="tasksCtrl.sort.field === 'swimlane.position'"
                                      ng-class="{'glyphicon-sort-by-attributes': tasksCtrl.sort.sortDirection === 'asc', 'glyphicon-sort-by-attributes-alt': tasksCtrl.sort.sortDirection === 'desc'}"></span>
                </li>
                <li class="checkboxDropdown__item" ng-click="tasksCtrl.tableFilter('category')">
                    Categorie
                                <span class="glyphicon" ng-if="tasksCtrl.sort.field === 'category'"
                                      ng-class="{'glyphicon-sort-by-alphabet': tasksCtrl.sort.sortDirection === 'asc', 'glyphicon-sort-by-alphabet-alt': tasksCtrl.sort.sortDirection === 'desc'}" ></span>
                </li>
                <li class="checkboxDropdown__item" ng-click="tasksCtrl.tableFilter('assignees.user.username')">
                    Assigné à
                                <span class="glyphicon" ng-if="tasksCtrl.sort.field === 'assignee.user.username'"
                                      ng-class="{'glyphicon-sort-by-alphabet': tasksCtrl.sort.sortDirection === 'asc', 'glyphicon-sort-by-alphabet-alt': tasksCtrl.sort.sortDirection === 'desc'}" ></span>
                </li>
                <li class="checkboxDropdown__item" ng-click="tasksCtrl.tableFilter('plannedStart')">
                    Date début
                                <span class="glyphicon" ng-if="tasksCtrl.sort.field === 'plannedStart'"
                                      ng-class="{'glyphicon-sort-by-order': tasksCtrl.sort.sortDirection === 'asc', 'glyphicon-sort-by-order-alt': tasksCtrl.sort.sortDirection === 'desc'}" ></span>
                </li>
                <li class="checkboxDropdown__item" ng-click="tasksCtrl.tableFilter('plannedEnding')">
                    Date fin
                                <span class="glyphicon" ng-if="tasksCtrl.sort.field === 'plannedEnding'"
                                      ng-class="{'glyphicon-sort-by-order': tasksCtrl.sort.sortDirection === 'asc', 'glyphicon-sort-by-order-alt': tasksCtrl.sort.sortDirection === 'desc'}" ></span>
                </li>
            </ul>
        </checkbox-filter>
    </div>
</header>
<section class="content">
    <p ng-if="tasksCtrl.tasks.page.totalElements === 0">Aucun résultat. Veuillez modifier vos critères</p>
    <div class="cards" ng-if="tasksCtrl.tasks.page.totalElements > 0">
        <div class="card card--task" ng-repeat="task in tasksCtrl.tasks._embedded.taskResourceList">
            <article class="card__item">
                <div class="card__header">
                    <h3 class="card__title">{{task.name}}</h3>
                    <a class="btn btn-danger pull-right" ng-click="tasksCtrl.delete(task)" title="delete" ng-if="projectCtrl.rights.hasAdminRights"><span class="glyphicon glyphicon-trash"></span></a>&nbsp;
                    <a class="btn pull-right" ui-sref="app.project.task({projectId: projectCtrl.project.id, taskId: task.id })" title="edit">Editer</a>
                </div>
                <div class="card__content">
                    <span></span>
                    {{task.state.name}}

                    <span ng-if="!task.swimlane">
                        -
                    </span>
                    {{task.swimlane.name}}

                    <span ng-if="!task.category">
                        -
                    </span>
                    {{task.category.name}}
                </div>
                <ul  ng-repeat="assignee in task.assignees">
                    <li ng-if="assignee.photo">
                        <img src="{{assignee.photo}}" alt="{{assignee.username}}" title="{{assignee.username}}" class="crop"/>
                    </li>
                    <li ng-if="!assignee.photo" class="crop-photo glyphicon glyphicon-user" data-toggle="tooltip" data-placement="bottom" title="{{assignee.username}}"></li>
                </ul>
                <aside class="card__infos">
                    <dl class="card__info">
                        <dd class="card__info__value" ng-if="!task.plannedStart">
                            -
                        </dd>
                        <dd class="card__info__value" ng-if="task.plannedStart">
                            {{task.plannedStart| date:'dd/MM/yyyy'}}
                        </dd>
                        <dt class="card__info__title">Date de début prévue</dt>
                    </dl>

                    <dl class="card__info">
                        <dd class="card__info__value" ng-if="!task.plannedEnding">
                            -
                        </dd>
                        <dd class="card__info__value" ng-class="{'exceeded-date' : task.exceededDate}" ng-if="task.plannedEnding">
                                {{task.plannedEnding| date:'dd/MM/yyyy'}}
                        </dd>
                        <dt class="card__info__title">Date de début</dt>
                    </dl>

                    <dl class="card__info">
                        <dd class="card__info__value" ng-if="!task.estimatedLoad">
                            -
                        </dd>
                        <dd class="card__info__value" ng-if="task.estimatedLoad">
                            {{task.estimatedLoad}}
                        </dd>
                        <dt class="card__info__title">Charge estimée</dt>
                    </dl>

                    <dl class="card__info">
                        <dd class="card__info__value" ng-if="!task.timeSpent">
                            -
                        </dd>
                        <dd class="card__info__value" ng-if="task.timeSpent">
                            {{task.timeSpent}}
                        </dd>
                        <dt class="card__info__title">Consommé</dt>
                    </dl>

                    <dl class="card__info">
                        <dd class="card__info__value" ng-if="!task.timeRemains">
                            -
                        </dd>
                        <dd class="card__info__value" ng-class="{'exceeded-load' : task.exceededLoad}" ng-if="task.timeRemains">
                            {{task.timeRemains}}
                        </dd>
                        <dt class="card__info__title">Dépassement</dt>
                    </dl>

                </aside>
            </article>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3" >
            <div class="center-block text-center">
                <uib-pagination total-items="tasksCtrl.tasks.page.totalElements" ng-change="tasksCtrl.loadPage()" ng-model="tasksCtrl.tasks.page.number" items-per-page="tasksCtrl.tasks.page.size" max-size="5" class="pagination-sm" boundary-links="true" rotate="false" num-pages="tasksCtrl.tasks.page.totalPages"></uib-pagination>
            </div>
        </div>
        <div class="col-md-3 form-inline">
            <div class="form-group pull-right">
                <label for="nbEltUser">Nb élements :</label>
                <div class="form-control">
                    <select id="nbEltUser" ng-model="tasksCtrl.tasks.page.size" class="form-select"  ng-change="tasksCtrl.loadPage()">
                        <option value="10" ng-selected="tasksCtrl.tasks.page.size === 10">10</option>
                        <option value="20" ng-selected="tasksCtrl.tasks.page.size === 20">20</option>
                        <option value="50" ng-selected="tasksCtrl.tasks.page.size === 50">50</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</ul>
</section>