<div class="row" id="task">
    <alert type="danger" ng-if="taskCtrl.form.error">{{taskCtrl.form.error}}</alert>
    <h2>
        #{{taskCtrl.task.id}}
    </h2>
    <form id="edittask" role="form" ng-submit="taskCtrl.submit()">
        <fieldset>
            <div class="form-group col-md-3">
                <label for="taskname">Nom de la tâche</label>
                <input type="text" required ng-model="taskCtrl.task.name" class="form-control" id="taskname" name="taskName" placeholder="Nom de la tâche"/>
            </div>
            <div class="form-group col-md-3">
                <label for="state">Etat</label>

                <select ng-model="taskCtrl.task.state" required class="form-control" name="state" id="state" placeholder="Etat" ng-options="state as state.name for state in taskCtrl.states track by state.id">
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="swimlane">Couloir</label>
                <select ng-model="taskCtrl.task.swimlane" class="form-control" id="swimlane" name="swimlane" placeholder="Couloir" ng-options="swimlane as swimlane.name for swimlane in taskCtrl.swimlanes track by swimlane.id">
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="category">Catégorie</label>
                <select ng-model="taskCtrl.task.category" class="form-control" id="category" name="category" placeholder="Catégorie" ng-options="category as category.name for category in taskCtrl.categories track by category.id">
                </select>
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group col-md-12">
                <label for="description">Description</label>
                <textarea rows="10" class="col-md-12" ng-model="taskCtrl.task.description" class="form-control" id="description" name="description" placeholder="Description"/>
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group col-md-3">
                <label for="assignee">Assigné à </label>
                <input class="form-control" ng-model="taskCtrl.task.assignee" uib-typeahead="member as member.username for member in taskCtrl.members | filter:$viewValue | limitTo:8" />
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group  col-md-3">
                <label for="plannedStart">Date de début prévue </label>
                <input type="date" id="plannedStart" class="form-control" ng-model="taskCtrl.task.plannedStart"/>
            </div>
            <div class="form-group col-md-3">
                <label for="plannedEnding">Date de fin prévue </label>
                <input type="date" id="plannedEnding" class="form-control" ng-model="taskCtrl.task.plannedEnding"/>
            </div>
            <div class="form-group col-md-3">
                <label for="estimatedLoad">Charge totale prévue</label>
                <input type="number" id="estimatedLoad" class="form-control" ng-model="taskCtrl.task.estimatedLoad" min="0" step="1"/>
            </div>
        </fieldset>
        <div class="col-md-offset-9 col-md-3 inline">
            <button type="button" onClick="history.back()" class="btn btn-info">Annuler</button>
            <button type="submit" class="btn btn-info">Enregistrer</button>
        </div>
    </form>
    <div class="panel">
        <div class="panel-body">
            <uib-tabset>
                <uib-tab heading="Commentaires" >
                    <div ng-include="'templates/project/task/comment/list.html'" ng-controller="commentController as commentCtrl"></div>
                </uib-tab> 
                <uib-tab heading="Consommations" >
                    <div ng-include="'templates/project/task/allocation/list.html'" ng-controller="allocationController as allocationCtrl"></div>
                </uib-tab> 
                <uib-tab heading="Historique">
                    <div ng-include="'templates/project/task/history/list.html'" ng-controller="historyController as historyCtrl"></div>
                </uib-tab> 
            </uib-tabset>
        </div>
    </div>
</div>