<section class="container-fluid app__content">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading clearChild">
                <h2 class="panel-heading-title">
                    <span class="glyphicon glyphicon-tasks">&nbsp;</span> 
                    Mes tâches
                </h2>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>Projet</th>
                            <th>Nom</th>
                            <th>Etat</th>
                            <th>Catégorie</th>
                            <th>Date fin</th>
                            <th>Consommée</th>
                            <th>Charge estimée</th>
                            <th>Charge réevaluée</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="task in dashboardCtrl.tasks._embedded.taskResourceList" ui-sref="app.project.task({projectId: task.project.id, taskId: task.id })">
                            <td>
                                {{task.project.name}}
                            </td>
                            <td>
                                {{task.name}}
                            </td>
                            <td>
                                {{task.state.name}}
                            </td>
                            <td>
                                {{task.category.name}}
                            </td>
                            <td>
                                {{task.plannedEnding| date:'dd/MM/yyyy'}}
                            </td>
                            <td>
                                {{task.timeSpent}}
                            </td>
                            <td>
                                {{task.estimatedLoad}}
                            </td>
                            <td>
                                {{task.timeRemains}}
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                    <td colspan="8">
                        <div class="center-block text-center">
                            <uib-pagination total-items="homeCtrl.tasks.nbElt" ng-model="dashboardCtrl.tasks.number" items-per-page="homeCtrl.tasks.size" max-size="5" class="pagination-sm" boundary-links="true" rotate="false" num-pages="homeCtrl.tasks.totalPages" ng-change="homeCtrl.pageTasksChanged()"></uib-pagination>
                        </div>
                    </td>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading clearChild">
                <h2 class="panel-heading-title">
                    <span class="glyphicon glyphicon-calendar">&nbsp;</span> 
                    Mon calendrier
                </h2>
            </div>
            <div class="panel-body">
                <div ui-calendar="dashboardCtrl.calendarOptions" class="span8 calendar" ng-model="dashboardCtrl.eventsSource" calendar="userCalendar"></div> 
            </div>
        </div>
    </div>
</section>