<header class="heading" ng-if="projectCtrl.hasEditRights">
    <h2 class="heading__title pull-left">Projet : {{projectCtrl.project.name}}</h2>
    <div class="heading__action pull-right">
        <button class="btn btn-info btn-sm" ng-click="kanbanCtrl.add()"><span class="glyphicon glyphicon-plus-sign"></span> Nouvelle tâche</button>
    </div>
</header>

<div class="panel">
    <table class="table kanban__table">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th ng-repeat="taskState in kanbanCtrl.states" class="kanban__column--title" style="width : {{86 / kanbanCtrl.nbState}}%" id="column{{taskState.id}}">
                    {{taskState.name}}
                    <span class="badge alert-info">{{taskState.taskCount}}</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="task in kanbanCtrl.tasksByState">
                <tr ng-repeat="swimlane in task">
                    <td class="kanban__column kanban__column--title column">{{swimlane.name}}</td>
                    <td class="kanban__column column" ng-repeat="taskState in kanbanCtrl.states">
                        <ul class="list-unstyled" as-sortable="kanbanCtrl.kanbanSortOptions" data-rowindex="{{swimlane.id}}" data-columnindex="{{taskState.id}}" ng-model="kanbanCtrl.tasks[taskState.position][swimlane.position]">
                            <li ng-repeat="task in kanbanCtrl.tasks[taskState.position][swimlane.position]" as-sortable-item>
                                <div ng-include="'/templates/projects/tasks/kanban-card.html'" as-sortable-item-handle></div>
                            </li>

                        </ul>
                    </td>
                </tr>
            </tr>
        </tbody>
    </table>
</div>