<div class="offcanvas__container">
    <input type="checkbox" name="canvas_menu_checkbox" checked="checked" class="offcanvas__checkbox" id="canvas__menu__checkbox" />
       
    <div class="offcanvas__menu">
        <ul class="nav nav-pills nav-stacked">
            <li><a ui-sref="app.project-detail.kanban">Kanban</a></li>
            <li><a ui-sref="app.project-detail.tasks">Tâches</a></li>
            <li><a ng-click="">Calendrier</a></li>
            <li><a ui-sref="app.project-detail.report.state">Rapports</a></li>
            <li><a ui-sref="app.project-detail.configure.state">Configurer</a></li>
        </ul>
    </div>
    <div class="offcanvas__content">
        <label class="offcanvas__label" aria-hidden="true" for="canvas__menu__checkbox">
            <span class="glyphicon glyphicon-align-justify"></span>
            Menu
        </label>
        <div ui-view></div>
    </div>
</div>