<div class="col-md-12">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-heading-title">Imputations</h3>
            <div class="panel-heading-action">
                <button class="btn btn-info btn-sm" ng-click="allocationListCtrl.add()"><span class="glyphicon glyphicon-plus-sign"></span>Nouvelle imputation</button>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Utilisateur</th>
                        <th>Date</th>
                        <th>Consommé</th>
                        <th>Reste à faire</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="allocation in allocationListCtrl.allocations">
                        <td>
                            {{allocation.username}}
                        </td>
                        <td>
                            {{allocation.date}}
                        </td>
                        <td>
                            {{allocation.timeSpent}}
                        </td>
                        <td>
                            {{allocation.timeRemains}}
                        </td>
                        <td>
                        <a ng-click="allocationListCtrl.delete(allocation)" title="delete">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>