<div class="kanban-card__task center-block" style="border-left: 0.5em solid {{task.category.bgcolor}}">
  <header class="kanban-card__heading">
    <span>
    <a ui-sref="app.project.task({projectId: projectCtrl.project.id, taskId: task.id })" ng-app=""title="Accéder au détail de la tâche">
        <span>#{{task.id}}</span> {{task.name}}
    </a>
    </span>
    <span class="pull-right exceeded" ng-if="task.exceededLoad">
                <span ng-class="{'glyphicon glyphicon-usd' : task.exceededLoad}"></span>
    </span>
  </header>
  <div class="kanban-card__action row">
    <!-- A remplacer par crop user -->
    <div class="col-md-7">
      <ul class="userIcons">
        <li ng-repeat="assignee in task.assignees" class="userIcons__item">
          <span class="userIcons__username">{{assignee.username}}</span>
          <img src="{{assignee.photo}}" alt="{{assignee.username}}" title="{{assignee.username}}" class="crop" ng-if="assignee.photo" />
          <span class="crop" ng-if="!assignee.photo"><span class="glyphicon glyphicon-user"></span></span>
        </li>
      </ul>
    </div>
    <!-- Fin crop user -->
    <div class="col-md-5 badge pull-right">
      <span ng-if="!task.category">
                    -
                </span>
      <span class="glyphicon glyphicon-tag" ng-if="task.category"></span> {{task.category.name}}
    </div>
  </div>
</div>

<div class="kanban-card__date text-right" ng-if="task.plannedEnding" ng-class="{'exceeded' : task.exceededDate}">
  <span class="glyphicon glyphicon-calendar"></span> {{task.plannedEnding| date:'dd/MM/yyyy'}}
</div>
