<header class="heading nav nav--subNav">
    <h2 class="heading__title pull-left">Projet : {{projectCtrl.project.name}}</h2>
    <ul class="nav nav-tabs pull-left">
        <li class="nav__link active"><a ui-sref="app.project.kanban({projectId: projectCtrl.project.id })"><span class="glyphicon glyphicon-equalizer"></span> Kanban</a></li>
        <li class="nav__link"><a ui-sref="app.project.tasks({projectId: projectCtrl.project.id })"><span class="glyphicon glyphicon-tasks"></span> Liste des tâches</a></li>
        <li class="nav__link"><a ng-if="projectCtrl.rights.hasEditRights" ui-sref="app.project.consommation({projectId: projectCtrl.project.id })"><span class="glyphicon glyphicon-time"></span> Consommations</a></li>
        <li class="nav__link"><a ng-if="projectCtrl.rights.hasEditRights" ui-sref="app.project.gantt({projectId: projectCtrl.project.id })"><span class="glyphicon glyphicon-road"></span> Gantt</a></li>
    </ul>
    <div class="heading__action pull-right">
        <button ng-if="projectCtrl.rights.hasEditRights" class="btn btn-info btn-sm" ng-click="kanbanCtrl.addTask()"><span class="glyphicon glyphicon-plus-sign"></span> Nouvelle tâche</button>
        <checkbox-filter filter-title="Filtrer">
            <ul class="checkboxDropdown__list">
                <li class="checkboxDropdown__item"><input type="checkbox" id="filtreAssignee" ng-model="kanbanCtrl.filter.currentuser" /><label for="filtreAssignee">M'est assignée</label></li>
                <li class="checkboxDropdown__item"><input type="checkbox" id="filtreUrgent" ng-model="kanbanCtrl.filter.urgent" /><label for="filtreUrgent">urgent</label></li>
            </ul>
        </checkbox-filter>
    </div>
</header>
<section class="content">
    <div class="panel kanban__container">
        <table class="table kanban__table">
            <thead class="kanban__header">
                <tr>
                    <th class="kanban__column--title"> &nbsp;</th>
                    <th ng-repeat="state in kanbanCtrl.states" class="kanban__column--title" style="width : {{86 / kanbanCtrl.states.length}}%" id="column{{state.id}}">
                        {{state.name}}
                        <span class="badge alert-info">{{state.taskCount}}</span>
                    </th>
                </tr>
            </thead>
            <tbody class="kanban__content">
                <tr class="kanban__swimlane" ng-repeat="swimlane in kanbanCtrl.swimlanes">
                    <td class="kanban__column kanban__column--title column" id="swimlane_{{swimlane.id}}" toggler toggle-class="kanban__swimlane--collapsed" toggle-active="swimlane.collapsable" ng-class="{'toggler' : swimlane.collapsable}">
                        <div>{{swimlane.name}}</div>
                        <div ng-if="swimlane.endPlanned">({{swimlane.endPlanned | date:"dd/MM/yyyy"}})</div>
                    </td>
                    <td class="kanban__column column" ng-repeat="state in swimlane.states">
                        <ul class="list-unstyled" as-sortable="kanbanCtrl.kanbanSortOptions" data-rowindex="{{swimlane.id}}" data-columnindex="{{state.id}}" ng-model="state.tasks">
                            <li ng-repeat="task in state.tasks  | currentuserKanbanFilter : kanbanCtrl.filter.currentuser | urgentKanbanFilter : kanbanCtrl.filter.urgent" class="kanban-card kanban__tasks" as-sortable-item>
                                <div ng-include="'/templates/project/kanban/kanban-card.html'" as-sortable-item-handle></div>
                            </li>
                            <li class="kanban__tasks--count" ng-if="state.tasks.length"><span class="badge">{{state.tasks.length}}</span></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <p ng-if="kanbanCtrl.globalCount === 0">Aucun résultat. Veuillez modifier vos critères</p>
    </div>
</section>
