<header class="heading" ng-if="projectCtrl.rights.hasEditRights">
    <h2 class="heading__title pull-left">Projet : {{projectCtrl.project.name}}</h2>
    <div class="heading__action pull-right">
        <button class="btn btn-info btn-sm" ui-sref="app.project.tasks({projectId: projectCtrl.project.id })"><span class="glyphicon glyphicon-tasks"></span> Voir toutes les tâches</button>
        <button class="btn btn-info btn-sm" ui-sref="app.project.kanban({projectId: projectCtrl.project.id })"><span class="glyphicon glyphicon-equalizer"></span> Kanban</button>
    </div>
</header>
<div class="col-md-12">
    <div class="panel">
        <div class="panel-heading">
            <h2 class="panel-heading-title">Consommations</h2>
        </div>
        <div class="panel-body">
            <form class="form-inline">
                <fieldset class="row">
                    <div class="col-md-4 form-group">
                        <label for="kind" >Vue : </label>
                        <select id="kind" class="form-control" ng-model="consommationCtrl.viewKind" ng-change="consommationCtrl.viewKindChange()">
                            <option value="member">Par membre</option>
                            <option value="task">Par tache</option>
                        </select>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="precision">Par : </label>
                        <select id="precision" class="form-control" ng-model="consommationCtrl.precision" ng-change="consommationCtrl.precisionChange()">
                            <option value="month">Mois</option>
                            <option value="week">Semaine</option>
                        </select>
                    </div>
                </fieldset>
            </form>
            <div class="row" ui-view></div>
        </div>
    </div>
</div>
