<header class="heading" ng-if="projectCtrl.rights.hasEditRights">
    <h2 class="heading__title pull-left">Projet : {{projectCtrl.project.name}}</h2>
    <div class="heading__action pull-right">
        <button class="btn btn-info btn-sm" ui-sref="app.project.tasks({projectId: projectCtrl.project.id })"><span class="glyphicon glyphicon-tasks"></span> Voir toutes les tâches</button>
        <button class="btn btn-info btn-sm" ui-sref="app.project.kanban({projectId: projectCtrl.project.id })"><span class="glyphicon glyphicon-equalizer"></span> Kanban</button>
    </div>
</header>
<div class="col-md-12">
    <div class="panel">
        <div class="panel-heading">
            <h2 class="panel-heading-title">Consommations</h2>
        </div>
        <div class="panel-body">
            <form class="form-inline">
                <fieldset class="row">
                    <div class="col-md-4 form-group">
                        <label for="precision">Par : </label>
                        <select id="precision" class="form-control" ng-model="consommationCtrl.precision" ng-change="consommationCtrl.precisionChange()">
                            <option value="month">Mois</option>
                            <option value="week">Semaine</option>
                        </select>
                    </div>
                </fieldset>
            </form>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th><span class="glyphicon glyphicon-arrow-left" ng-click="consommationCtrl.previous()"></span></th>
                        <th ng-repeat="day in consommationCtrl.days">{{day| date:'dd/MM'}}</th>
                        <th><span class="glyphicon glyphicon-arrow-right" ng-click="consommationCtrl.next()"></span></th>
                    <tr>
                </thead>
                <tbody ng-repeat="entry in consommationCtrl.entries">
                    <tr>
                        <th>
                            {{entry.username}} 
                        </th>
                        <th>
                            <span ng-if="!entry.showDetails && entry.imputations.details.length" class="glyphicon glyphicon-chevron-down" ng-click="consommationCtrl.showDetail(entry)"></span>
                            <span ng-if="entry.showDetails && entry.imputations.details.length" class="glyphicon glyphicon-chevron-up" ng-click="consommationCtrl.hideDetail(entry)"></span>
                        </th>
                        <th ng-repeat="day in consommationCtrl.days"> {{entry.imputations.imputations[day.getTime()]}}</th>
                        <th>&nbsp;</th>
                    </tr>
                    <tr uib-collapse="!entry.showDetails" ng-repeat="detail in entry.imputations.details">
                        <td>{{detail.taskName}} </td>
                        <td>&nbsp;</td>
                        <td ng-repeat="day in consommationCtrl.days"> {{detail.imputations[day.getTime()]}}</td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>