<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th><span class="glyphicon glyphicon-arrow-left"></span></th>
            <th ng-repeat="day in consommationCtrl.days">{{day}}</th>
            <th><span class="glyphicon glyphicon-arrow-right"></span></th>
        <tr>
    </thead>
    <tbody ng-repeat="entry in consommationCtrl.entries">
        <tr>
            <th>
                {{entry.name}} 
                <span ng-if="!entry.showDetails" class="glyphicon glyphicon-chevron-down" ng-click="consommationCtrl.showDetail(entry)"></span>
                <span ng-if="entry.showDetails" class="glyphicon glyphicon-chevron-up" ng-click="consommationCtrl.hideDetail(entry)"></span>
            </th>
            <th>&nbsp;</th>
            <th ng-repeat="consommation in entry.consommations"> {{consommation.value}}  </th>
            <th>&nbsp;</th>
        </tr>
        <tr uib-collapse="!entry.showDetails" ng-repeat="detail in entry.details">
            <td>{{detail.name}} </td>
            <td>&nbsp;</td>
            <td ng-repeat="consommation in detail.consommations"> {{consommation.value}}  </td>
            <td>&nbsp;</td>
        </tr>
    </tbody>
</table>
