<table class="table table-hover" ng-repeat="swimlane in consommationTaskCtrl.swimlanes">
    <thead>
        <tr>
            <th colspan="{{consommationCtrl.days.length +1 }}">Couloir : {{swimlane.name}}</th>
        </tr>
        <tr>
            <th>&nbsp;</th>
            <th ng-repeat="day in consommationCtrl.days" class="datecell">{{day}}</th>
        </tr>
    </thead>
    <tbody ng-repeat="task in swimlane.tasks">
        <tr>
            <th>
                {{task.name}} 
                <span ng-if="!task.showDetails" class="glyphicon glyphicon-chevron-down" ng-click="consommationCtrl.showDetail(task)"></span>
                <span ng-if="task.showDetails" class="glyphicon glyphicon-chevron-up" ng-click="consommationCtrl.hideDetail(task)"></span>
            </th>
            <th ng-repeat="day in consommationCtrl.days">  </th>
        </tr>
        <tr uib-collapse="!entry.showDetails" ng-repeat="detail in entry.details">
            <td>{{detail.name}} </td>
            <td ng-repeat="consommation in detail.consommations"> {{consommation.value}}  </td>
        </tr>
    </tbody>
</table>
