<div class="col-md-12">
    <div class="panel">
        <div class="panel-heading">
            <h2 class="panel-heading-title">Liste des états</h2>
            <div class="panel-heading-action">
                <button class="btn btn-info btn-sm" ng-click="stateListCtrl.add()"><span class="glyphicon glyphicon-plus-sign"></span>Nouvel état</button>
            </div>
        </div>
        <div class="panel-body">
            <div class="col-md-12" as-sortable="stateListCtrl.stateListSortOptions" ng-model="projectEditCtrl.project.states">
                <div class="row">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-3">Nom</div>
                            <div class="col-md-3 text-center">Etat de fermeture</div>
                            <div class="col-md-3 text-center">Masqué dans Kanban</div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-repeat="state in projectEditCtrl.project.states" as-sortable-item>
                    <div class="col-md-10">
                        <div class="" as-sortable-item-handle>
                            <div class="row">
                                <div class="col-md-3">
                                    <a href="#" editable-text="state.name" onaftersave="stateListCtrl.saveState(state)"
                                        e-typeahead-editable="true" 
                                        title="Modifier l'état">
                                        {{state.name}} 
                                    </a>
                                </div>
                                <div class="col-md-3 text-center">
                                    <input class="form-control" type="checkbox" ng-model="state.closeState" ng-change='stateListCtrl.saveState(state)'/>
                                </div>
                                <div class="col-md-3 text-center">
                                    <input class="form-control" type="checkbox" ng-model="state.kanbanHide" ng-change='stateListCtrl.saveState(state)'/>
                                </div>
                                <div class="col-md-3">
                                    <span class="badge  pull-right">
                                        {{state.taskCount}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a ng-click="stateListCtrl.delete(state)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>