<header class="heading">
    <h2 class="heading__title pull-left">
        Paramétrage : {{projectEditCtrl.project.name}}
    </h2>
    <uib-tabset>
        <uib-tab class="nav__link" heading="Champs personnalisés" ui-sref="app.project.edit.taskfield({projectId: projectEditCtrl.project.id})" >
        </uib-tab> 
        <uib-tab class="nav__link" heading="Catégories" ui-sref="app.project.edit.category({projectId: projectEditCtrl.project.id})" >
        </uib-tab>
        <uib-tab class="nav__link" heading="Etats" ui-sref="app.project.edit.state({projectId: projectEditCtrl.project.id})">
        </uib-tab>
        <uib-tab class="nav__link" heading="Couloirs" ui-sref="app.project.edit.swimlane({projectId: projectEditCtrl.project.id})">
        </uib-tab>
        <uib-tab class="nav__link" heading="Membres" ui-sref="app.project.edit.member({projectId: projectEditCtrl.project.id})">
        </uib-tab>
    </uib-tabset>
</header>
<section class="content">
    <div growl></div>
    <div class="panel">
        <div class="panel-body">
            <div ui-view></div>
        </div>
    </div>
</section>
