/* line 2, ../../../../../co2themes/sass/_utilities.sass */
.clearChild:after {
  content: "";
  display: table;
  clear: both;
}

/* line 25, ../../../../../co2themes/sass/_utilities.sass */
[ng-click] {
  cursor: pointer;
}

@font-face {
  font-family: "oswald-demi-italic";
  src: url('/fonts/oswald/oswald-demi-bolditalic-webfont.eot?1437026646');
  src: url('/fonts/oswald/oswald-demi-bolditalic-webfont.eot?&1437026646#iefix') format('embedded-opentype'), url('/fonts/oswald/oswald-demi-bolditalic-webfont.svg?1437026646') format('svg'), url('/fonts/oswald/oswald-demi-bolditalic-webfont.ttf?1437026646') format('truetype'), url('/fonts/oswald/oswald-demi-bolditalic-webfont.woff?1437026646') format('woff'), url('/fonts/oswald/oswald-demi-bolditalic-webfont.woff2?1437026646') format('woff2');
}
@font-face {
  font-family: "oswald-demi";
  src: url('/fonts/oswald/oswald-demibold-webfont.eot?1437026646');
  src: url('/fonts/oswald/oswald-demibold-webfont.eot?&1437026646#iefix') format('embedded-opentype'), url('/fonts/oswald/oswald-demibold-webfont.svg?1437026646') format('svg'), url('/fonts/oswald/oswald-demibold-webfont.ttf?1437026646') format('truetype'), url('/fonts/oswald/oswald-demibold-webfont.woff?1437026646') format('woff'), url('/fonts/oswald/oswald-demibold-webfont.woff2?1437026646') format('woff2');
}
@font-face {
  font-family: "oswald";
  src: url('/fonts/oswald/oswald-light-webfont.eot?1437026646');
  src: url('/fonts/oswald/oswald-light-webfont.eot?&1437026646#iefix') format('embedded-opentype'), url('/fonts/oswald/oswald-light-webfont.svg?1437026646') format('svg'), url('/fonts/oswald/oswald-light-webfont.ttf?1437026646') format('truetype'), url('/fonts/oswald/oswald-light-webfont.woff?1437026646') format('woff'), url('/fonts/oswald/oswald-light-webfont.woff2?1437026646') format('woff2');
}
@font-face {
  font-family: "oswald-italic";
  src: url('/fonts/oswald/oswald-lightitalic-webfont.eot?1437026646');
  src: url('/fonts/oswald/oswald-lightitalic-webfont.eot?&1437026646#iefix') format('embedded-opentype'), url('/fonts/oswald/oswald-lightitalic-webfont.svg?1437026646') format('svg'), url('/fonts/oswald/oswald-lightitalic-webfont.ttf?1437026646') format('truetype'), url('/fonts/oswald/oswald-lightitalic-webfont.woff?1437026646') format('woff'), url('/fonts/oswald/oswald-lightitalic-webfont.woff2?1437026646') format('woff2');
}
/* line 1, ../../../../../co2themes/sass/bootstrap/_form.sass */
input, .form-control {
  border: 2px solid #0277bd;
  color: #0277bd;
  border-radius: 2em;
}

/* line 6, ../../../../../co2themes/sass/bootstrap/_form.sass */
textarea.form-control {
  border-radius: 0.5em;
}

/* line 10, ../../../../../co2themes/sass/bootstrap/_form.sass */
.form-select {
  border: none;
  background: #FFF;
  width: 100%;
}

/* line 15, ../../../../../co2themes/sass/bootstrap/_form.sass */
.editable-wrap {
  width: 100%;
  margin: 1em 0;
  text-align: center;
}

/* line 1, ../../../../../co2themes/sass/bootstrap/_panel.sass */
[class^=panel-heading-] {
  margin: 0;
  padding: 0;
}

/* line 5, ../../../../../co2themes/sass/bootstrap/_panel.sass */
.panel {
  border-radius: 20px;
}
/* line 7, ../../../../../co2themes/sass/bootstrap/_panel.sass */
.panel-heading {
  padding: 0.5em;
  font-family: oswald, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2em;
  line-height: 1.5em;
  border-radius: 20px 20px 0 0;
}
/* line 2, ../../../../../co2themes/sass/_utilities.sass */
.panel-heading:after {
  content: "";
  display: table;
  clear: both;
}
/* line 14, ../../../../../co2themes/sass/bootstrap/_panel.sass */
.panel-heading-title {
  display: inline-block;
  float: left;
}
/* line 17, ../../../../../co2themes/sass/bootstrap/_panel.sass */
.panel-heading-action {
  float: right;
  font-size: 1.5rem;
  position: relative;
}
/* line 21, ../../../../../co2themes/sass/bootstrap/_panel.sass */
.panel-info {
  border: none;
}
/* line 23, ../../../../../co2themes/sass/bootstrap/_panel.sass */
.panel-info > .panel-heading {
  background: #e1f5fe;
}
/* line 25, ../../../../../co2themes/sass/bootstrap/_panel.sass */
.panel-body {
  font-size: 0.875em;
  line-height: 1.2em;
}
/* line 2, ../../../../../co2themes/sass/_utilities.sass */
.panel-footer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 1, ../../../../../co2themes/sass/bootstrap/_button.sass */
.btn, .fc-button {
  font-family: oswald, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  background: #FFF;
  text-shadow: none;
  text-transform: uppercase;
  border-radius: 2em;
  border: none;
  box-shadow: 0px 0.125em 0.125em 0em rgba(0, 0, 0, 0.2);
}
/* line 10, ../../../../../co2themes/sass/bootstrap/_button.sass */
.btn:hover, .btn:focus, .fc-button:hover, .fc-button:focus {
  box-shadow: 0px 0.25em 0.25em 0em rgba(0, 0, 0, 0.2);
  border: none;
  outline: none;
}
/* line 14, ../../../../../co2themes/sass/bootstrap/_button.sass */
.btn-info, .btn-primary, .fc-button-info, .fc-button-primary {
  background: #0288d1;
}
/* line 16, ../../../../../co2themes/sass/bootstrap/_button.sass */
.btn-info:hover, .btn-primary:hover, .fc-button-info:hover, .fc-button-primary:hover {
  background: #0288d1;
}
/* line 18, ../../../../../co2themes/sass/bootstrap/_button.sass */
.btn > .glyphicon, .fc-button > .glyphicon {
  margin-right: 0.5em;
}
/* line 20, ../../../../../co2themes/sass/bootstrap/_button.sass */
.btn-spaceLeft, .fc-button-spaceLeft {
  margin-left: 1em;
}

/* line 25, ../../../../../co2themes/sass/bootstrap/_button.sass */
.editable-buttons .btn > .glyphicon {
  margin: 0;
}

/* line 1, ../../../../../co2themes/sass/bootstrap/_nav.sass */
.nav {
  padding: 1em;
  font-size: 16px;
  font-family: oswald, Helvetica Neue, Helvetica, Arial, sans-serif;
}
/* line 2, ../../../../../co2themes/sass/_utilities.sass */
.nav:after {
  content: "";
  display: table;
  clear: both;
}
/* line 8, ../../../../../co2themes/sass/bootstrap/_nav.sass */
.nav__links {
  list-style-type: none;
  line-height: 2em;
  float: left;
  padding: 0.5em 0.83333%;
  margin: 0;
  width: 33.33333%;
}
/* line 16, ../../../../../co2themes/sass/bootstrap/_nav.sass */
.nav__links--right {
  float: right;
  width: 16.66667%;
}
/* line 20, ../../../../../co2themes/sass/bootstrap/_nav.sass */
.nav__link, .nav__brand {
  float: left;
  padding: 0 1em;
  position: relative;
  cursor: pointer;
}
/* line 25, ../../../../../co2themes/sass/bootstrap/_nav.sass */
.nav__link a, .nav__link a.nav__link, .nav__brand a, .nav__brand a.nav__link {
  font-size: 1.125em;
  text-decoration: none;
  position: relative;
}
/* line 30, ../../../../../co2themes/sass/bootstrap/_nav.sass */
.nav__brand {
  font-size: 2em;
}
/* line 34, ../../../../../co2themes/sass/bootstrap/_nav.sass */
.nav__link--right {
  float: right;
}
/* line 37, ../../../../../co2themes/sass/bootstrap/_nav.sass */
.nav--main {
  position: relative;
  background: #FFF;
}
/* line 40, ../../../../../co2themes/sass/bootstrap/_nav.sass */
.nav--main::before {
  position: absolute;
  bottom: -1em;
  left: 0;
  content: "";
  height: 1em;
  width: 100%;
  box-shadow: 0 0.3333em 0px rgba(0, 0, 0, 0.3333) inset;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzEwMzM1MiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAyNzdiZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #103352), color-stop(100%, #0277bd));
  background-image: -moz-linear-gradient(left, #103352, #0277bd);
  background-image: -webkit-linear-gradient(left, #103352, #0277bd);
  background-image: linear-gradient(to right, #103352, #0277bd);
}
/* line 49, ../../../../../co2themes/sass/bootstrap/_nav.sass */
.nav--subNav {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzEwMzM1MiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAyNzdiZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #103352), color-stop(100%, #0277bd));
  background-image: -moz-linear-gradient(left, #103352, #0277bd);
  background-image: -webkit-linear-gradient(left, #103352, #0277bd);
  background-image: linear-gradient(to right, #103352, #0277bd);
}
/* line 51, ../../../../../co2themes/sass/bootstrap/_nav.sass */
.nav-tabs {
  list-style-type: none;
  line-height: 2.125em;
  padding: 0;
  margin: 0;
}
/* line 56, ../../../../../co2themes/sass/bootstrap/_nav.sass */
.nav-tabs .nav__link, .nav-tabs .nav__link a, .nav-tabs a.nav__link {
  color: rgba(255, 255, 255, 0.65);
  transition: all 0.5s;
}
/* line 59, ../../../../../co2themes/sass/bootstrap/_nav.sass */
.nav-tabs .nav__link:hover, .nav-tabs .nav__link a:hover, .nav-tabs a.nav__link:hover {
  color: rgba(255, 255, 255, 0.85);
}
/* line 61, ../../../../../co2themes/sass/bootstrap/_nav.sass */
.nav-tabs .nav__link.active, .nav-tabs .nav__link.active a, .nav-tabs a.nav__link.active {
  color: white;
}

/* line 2, ../../../../../co2themes/sass/bootstrap/_table.sass */
.table > thead > tr > th {
  font-family: oswald, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.2em;
}

/* line 1, ../../../../../co2themes/sass/bootstrap/_modal.sass */
.modal {
  cursor: default;
}
/* line 3, ../../../../../co2themes/sass/bootstrap/_modal.sass */
.modal-content {
  border-radius: 20px;
}
/* line 5, ../../../../../co2themes/sass/bootstrap/_modal.sass */
.modal-xd {
  width: 75%;
}

/* line 1, ../../../../../co2themes/sass/theme/_crop.sass */
.crop {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
}
/* line 6, ../../../../../co2themes/sass/theme/_crop.sass */
.crop--nav {
  position: absolute;
  left: -50px;
  top: 50%;
  margin-top: -20px;
}

/* line 1, ../../../../../co2themes/sass/theme/_layout.sass */
html {
  height: 100%;
}

/* line 3, ../../../../../co2themes/sass/theme/_layout.sass */
body {
  height: 100%;
  font-size: 16px;
  font-weight: 300;
  background: #F1F3F5;
  color: #2D2D2D;
}

/* line 9, ../../../../../co2themes/sass/theme/_layout.sass */
.wrapper {
  height: 100%;
}

/* line 12, ../../../../../co2themes/sass/theme/_layout.sass */
.heading {
  padding: 0.5em;
  margin-bottom: 1em;
  font-family: oswald, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2em;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzEwMzM1MiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAyNzdiZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #103352), color-stop(100%, #0277bd));
  background-image: -moz-linear-gradient(left, #103352, #0277bd);
  background-image: -webkit-linear-gradient(left, #103352, #0277bd);
  background-image: linear-gradient(to right, #103352, #0277bd);
}
/* line 2, ../../../../../co2themes/sass/_utilities.sass */
.heading:after {
  content: "";
  display: table;
  clear: both;
}
/* line 19, ../../../../../co2themes/sass/theme/_layout.sass */
.heading__title {
  display: inline-block;
  float: left;
  width: 25%;
  margin: 0;
  margin-right: 1em;
  color: rgba(255, 255, 255, 0.9);
}
/* line 26, ../../../../../co2themes/sass/theme/_layout.sass */
.heading__action {
  float: right;
  font-size: 1.5rem;
  position: relative;
}
/* line 30, ../../../../../co2themes/sass/theme/_layout.sass */
.heading__nav {
  width: 33.33333%;
  margin: 0 auto;
}

/* line 33, ../../../../../co2themes/sass/theme/_layout.sass */
.content {
  padding: 1em;
}
/* line 2, ../../../../../co2themes/sass/_utilities.sass */
.content:after {
  content: "";
  display: table;
  clear: both;
}

/* line 1, ../../../../../co2themes/sass/theme/_titles.sass */
h1, h2, h3, h4, h5, h6 {
  color: #0288d1;
  font-family: oswald, Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* line 1, ../../../../../co2themes/sass/theme/_calendar.sass */
.fc-view {
  background: #FFF;
}

/* line 1, ../../../../../co2themes/sass/theme/_sortable.sass */
.as-sortable-placeholder {
  background: #e1f5fe;
  border: 2px dashed #0277bd;
}

/* line 5, ../../../../../co2themes/sass/theme/_sortable.sass */
.as-sortable-drag {
  box-shadow: 0px 0.25em 0.25em 0.25em rgba(0, 0, 0, 0.2);
}

/* line 1, ../../../../../co2themes/sass/theme/_login.sass */
.panel-login {
  width: 60%;
  margin: auto;
  margin-top: 100px;
}
/* line 5, ../../../../../co2themes/sass/theme/_login.sass */
.panel-login .panel-body {
  font-size: 2em;
  line-height: 1.5em;
}

/* line 8, ../../../../../co2themes/sass/theme/_login.sass */
.modal .panel-login {
  width: 100%;
  margin: 0;
}

/* line 2, ../../../../../co2themes/sass/theme/_kanban.sass */
.kanban__container {
  width: 100%;
}
/* line 4, ../../../../../co2themes/sass/theme/_kanban.sass */
.kanban__header {
  border: none;
}
/* line 6, ../../../../../co2themes/sass/theme/_kanban.sass */
.kanban__header .kanban__column--title {
  background: #0277bd;
  color: #FFF;
  font-size: 1.25em;
  border: none;
}
/* line 11, ../../../../../co2themes/sass/theme/_kanban.sass */
.kanban__column {
  border-top: 2px solid #0277bd !important;
  border-left: 1px solid #e1f5fe !important;
  padding: 1em;
  background: #FFF;
  transition: background 0.5s;
}
/* line 17, ../../../../../co2themes/sass/theme/_kanban.sass */
.kanban__column ul {
  margin: 0;
  height: auto;
}
/* line 20, ../../../../../co2themes/sass/theme/_kanban.sass */
.kanban__column ul li {
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.5s;
}
/* line 25, ../../../../../co2themes/sass/theme/_kanban.sass */
.kanban__column--title {
  text-align: center;
  vertical-align: middle !important;
  font-family: oswald, Helvetica Neue, Helvetica, Arial, sans-serif;
}
/* line 30, ../../../../../co2themes/sass/theme/_kanban.sass */
.kanban__swimlane--collapsed {
  overflow: hidden;
}
/* line 32, ../../../../../co2themes/sass/theme/_kanban.sass */
.kanban__swimlane--collapsed .kanban__column {
  background: #e1f5fe;
  height: 30px;
}
/* line 36, ../../../../../co2themes/sass/theme/_kanban.sass */
.kanban__swimlane--collapsed .kanban__column ul {
  min-height: auto;
  height: auto;
}
/* line 39, ../../../../../co2themes/sass/theme/_kanban.sass */
.kanban__swimlane--collapsed .kanban__column li {
  height: 0;
  opacity: 0;
}
/* line 42, ../../../../../co2themes/sass/theme/_kanban.sass */
.kanban__swimlane--collapsed .kanban__column > div:first-child {
  display: none;
}

/* line 44, ../../../../../co2themes/sass/theme/_kanban.sass */
td.column > ul {
  min-height: 100px;
}

/* line 48, ../../../../../co2themes/sass/theme/_kanban.sass */
td.column > ul .kanban-card:first-of-type {
  margin-top: 0;
}
/* line 50, ../../../../../co2themes/sass/theme/_kanban.sass */
td.column > ul .kanban-card:last-of-type {
  margin-bottom: 0;
}

/* line 53, ../../../../../co2themes/sass/theme/_kanban.sass */
.kanban-card {
  border: none;
  background: #FFF;
  border-top: #F1F3F5 1px solid;
  border-radius: 0.25em;
  overflow: hidden;
  margin: 0.5em 0;
  box-shadow: 0px 0.125em 0.125em 0em rgba(0, 0, 0, 0.2);
}
/* line 61, ../../../../../co2themes/sass/theme/_kanban.sass */
.kanban-card__task {
  font-size: 16px;
  line-height: 1.2em;
  border-bottom: none;
  border-top: none;
  padding: 0.5em;
}
/* line 66, ../../../../../co2themes/sass/theme/_kanban.sass */
.kanban-card__heading {
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 0.5em 0;
}
/* line 70, ../../../../../co2themes/sass/theme/_kanban.sass */
.kanban-card__heading a {
  color: #000;
}
/* line 72, ../../../../../co2themes/sass/theme/_kanban.sass */
.kanban-card__heading a span {
  color: #0288d1;
}
/* line 74, ../../../../../co2themes/sass/theme/_kanban.sass */
.kanban-card__date {
  padding: 0.5em;
  background: #F1F3F5;
}
/* line 77, ../../../../../co2themes/sass/theme/_kanban.sass */
.kanban-card .badge {
  background-color: transparent;
}

/* line 1, ../../../../../co2themes/sass/theme/_card.sass */
.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

/* line 7, ../../../../../co2themes/sass/theme/_card.sass */
.card {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  align-items: stretch;
  padding-bottom: 1.66667%;
}
/* line 12, ../../../../../co2themes/sass/theme/_card.sass */
.card__item {
  height: 230px;
  padding: 1em;
  text-align: center;
  border-radius: 20px;
  background: #FFF;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.5s;
}
/* line 22, ../../../../../co2themes/sass/theme/_card.sass */
.card__item:hover {
  height: 300px;
}
/* line 24, ../../../../../co2themes/sass/theme/_card.sass */
.card__item:hover, .card__item:hover .card__title {
  white-space: normal;
  transition: all 0.5s;
}
/* line 27, ../../../../../co2themes/sass/theme/_card.sass */
.card__title {
  transition: all 0.5s;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  margin: 0;
}
/* line 35, ../../../../../co2themes/sass/theme/_card.sass */
.card__infos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* line 40, ../../../../../co2themes/sass/theme/_card.sass */
.card__info {
  flex-grow: 0;
  align-items: stretch;
  padding: 1em;
  margin: 0;
  text-align: center;
  color: #2D2D2D;
  font-weight: 100;
}
/* line 48, ../../../../../co2themes/sass/theme/_card.sass */
.card__info__title {
  font-size: 0.875em;
  font-weight: 200;
}
/* line 51, ../../../../../co2themes/sass/theme/_card.sass */
.card__info__value {
  font-weight: 100;
  font-size: 3em;
  line-height: 1.5em;
}

/* line 25, ../../../../../co2themes/sass/app.sass */
#board {
  height: 100%;
  width: 100%;
  display: table;
}

/* line 30, ../../../../../co2themes/sass/app.sass */
.app__container {
  height: 100%;
}

/* line 33, ../../../../../co2themes/sass/app.sass */
.app__content {
  padding: 2em 0;
  margin: 0;
}

/* line 37, ../../../../../co2themes/sass/app.sass */
.ui-autocomplete {
  z-index: 1051;
}

/* line 40, ../../../../../co2themes/sass/app.sass */
#task {
  background-color: #FFF;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
}

/* line 45, ../../../../../co2themes/sass/app.sass */
.no-project {
  padding-left: 10px;
  color: #000;
}

/* line 50, ../../../../../co2themes/sass/app.sass */
.kanban-card .badge {
  color: #000;
}

/* line 54, ../../../../../co2themes/sass/app.sass */
.datecell {
  border: none !important;
  font-size: 10px !important;
  /*    -webkit-transform:rotate(70deg);
   * -moz-transform:rotate(70deg);
   * -o-transform: rotate(70deg);
   * -ms-transform:rotate(70deg);
   * transform: rotate(70deg); */
}

/* line 64, ../../../../../co2themes/sass/app.sass */
.exceeded-date, .exceeded-load, .exceeded {
  color: red;
}
