.list-group {
    -webkit-box-shadow: none;
    margin-bottom: 2px;
}

td.column ul {
    min-height: max-content;
}

.navbar-nav img.glyphicon {
    width : 40px;
    border-radius: 20px;
}

.crop-photo {
    width : 40px;
    border-radius: 20px;
}