<form ng-submit="profilCtrl.save()">
    <header class="heading nav nav--subNav">
        <h2 class="heading__title pull-left"><span class="glyphicon glyphicon-user"></span> {{profilCtrl.profil.username}}</h2>
        <div class="heading__action pull-right">
            <button type="submit" class="btn btn-info btn-sm">Enregistrer les modifications</button>
        </div>
    </header>
    <section class="content">
        <div class="panel">
            <div class="panel-body profil">
                <alert type="danger" ng-if="profilCtrl.error">{{profilCtrl.error.message}}</alert>
                <div class="profil__form">
                    <h3>Informations générales</h3>
                    <div class="form-group">
                        <label for="role">Rôle</label>
                        <input ng-disabled="true" type="text" class="form-control" id="role" ng-model="profilCtrl.profil.applicationRole" />
                    </div>
                    <div class="form-group">
                        <label for="password">Nouveau mot de passe</label>
                        <input type="password" class="form-control" id="password" ng-model="profilCtrl.profil.password" placeholder="Mot de passe"/>
                    </div>
                    <div class="form-group">
                        <same-password password="profilCtrl.profil.password" error="profilCtrl.error" placeholder="Confirmer votre mot de passe" ></same-password>
                    </div>
                    <div class="form-group">
                        <label for="email">Modifier mon adresse email</label>
                        <input type="email" class="form-control" id="email" ng-model="profilCtrl.profil.email" placeholder="Adresse mail" />
                    </div>
                </div>
                <div class="profil__image">
                    <h3>Photo de profil</h3>
                    <div class="form-group" style="background-color: #FFF">
                        <input type="file" id="photoProfil" />
                    </div>
                    <div class="cropArea">
                        <img-crop image="profilCtrl.photoTemp" result-image="profilCtrl.newPhoto"></img-crop>
                    </div>
                    <img ng-src="{{profilCtrl.newPhoto}}" class="cropImage" />
                <div>
            </div>
        </div>
    </section>
</form>